body {
    background-color: #dcefdc;
}


.form-center {
    display: center;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 10px;
    text-align: center;
    display: block;
}

.form-center p{
    text-align: center;
    display: block;
}


.flaskInput{
    width: 250px;
    height: 15px;
    border-radius: 50px;
    border: 2px solid gray;
    font-size: 1.2em;
    margin: 10px;
    padding: 10px;   
}

.title{
    font-size: 25px;
}

.tos{
    font-size: 16px;
}

h1{
    text-align: center;
}


#submit{
    border-radius: 20px;
}

#submit:hover {
    color: black;
    transform: translateY(-10%);
    transition: all 0.5s ease;
  }