<!--
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Physician Registration Page</title>
        <link rel="stylesheet" href="./style.css">
        <link rel="icon" href="./favicon.ico" type="image/x-icon">
    </head>
    <body>
        <main>
            <h1>Welcome to the Physician Registration Page</h1>
            <form action="" method="post">
                <p>
                    {{form.first_name.label}} <br> {{form.first_name(size=30)}}
                </p>
                <p>
                    {{form.last_name.label}} <br> {{form.last_name(size=30)}}
                </p>
                <p>
                    {{form.username.label}} <br> {{form.username(size=30)}}
                </p>
                <p>
                    {{form.email.label}} <br> {{form.email(size=30)}}
                </p>
                <p>
                    {{form.password.label}} <br> {{form.password(size=30)}}
                </p>
                <p>
                    {{form.confirm_password.label}} <br> {{form.confirm_password(size=30)}}
                </p>
                <p>
                    {{form.accept_tos.label}} <br> {{form.accept_tos(size=30)}}
                </p>
                <p>
                    {{form.submit()}}
                </p>
            </form>
        </main>
	    <script src="phys-register.js"></script>
    </body>
</html>
-->

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Physician Registration Page</title>
        <link href="{{url_for('static', filename='registerPhys.css')}}" rel="stylesheet" type="text/css">
        <link rel="icon" href="./favicon.ico" type="image/x-icon">
    </head>
    <body>
        <main>
            <h1>Welcome to Physician Registration</h1>
            <form action="" method="post" class="form-center">
                <p>
                    {{form.username.label(class='title')}} <br> {{form.username(size=30, class='flaskInput')}}
                </p>
                <p>
                    {{form.email.label(class='title')}} <br> {{form.email(size=30, class='flaskInput')}}
                </p>
                <p>
                    {{form.password.label(class='title')}} <br> {{form.password(size=30, class='flaskInput')}}
                </p>
                <p>
                    {{form.confirm_password.label(class='title')}} <br> {{form.confirm_password(size=30, class='flaskInput')}}
                </p>
                <p>
                    {{form.accept_tos.label(id='tos')}} <br> {{form.accept_tos(size=30)}}
                </p>
                <p>
                    {{form.submit(id='submit')}}
                </p>
            </form>
        </main>
	    <script src="phys-register.js"></script>
    </body>
</html>