<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Physician Registration Page</title>
        <link rel="stylesheet" href="./style.css">
        <link rel="icon" href="./favicon.ico" type="image/x-icon">
    </head>
    <body>
        <main>
            <h1>Welcome to the Physician Registration Page</h1>
            <form action="" method="post">
                <p>
                    {{form.f_name.label}} <br> {{form.f_name(size=30)}}
                </p>
                <p>
                    {{form.l_name.label}} <br> {{form.l_name(size=30)}}
                </p>
                <p>
                    {{form.username.label}} <br> {{form.username(size=30)}}
                </p>
                <p>
                    {{form.email.label}} <br> {{form.email(size=30)}}
                </p>
                <p>
                    {{form.password.label}} <br> {{form.password(size=30)}}
                </p>
                <p>
                    {{form.confirm_password.label}} <br> {{form.confirm_password(size=30)}}
                </p>
                <p>
                    {{form.accept_tos.label}} <br> {{form.accept_tos(size=30)}}
                </p>
                <p>
                    {{form.submit()}}
                </p>
            </form>
        </main>
	    <script src="phys-register.js"></script>
    </body>
</html>
